.HA_VERSION
.cloud
.storage
.uuid
*.conf
*.pem
*.crt
*.key
*.tar.gz
adb/
deps/
tts/
__pycache__/
secrets.yaml
home-assistant*.log*
home-assistant*.db*
OZW_Log.txt
pyozw.sqlite
options.xml
zwscene.xml
zwcfg_*
